{% extends 'base.html.twig' %}

{% block title %}Listes de tâches{% endblock %}

{% block body %}
    <h1>Mes listes de tâches</h1>

    <button class="btn btn-primary">
        <a class="text-white" href="{{ path('create_tasklists') }}">Ajouter une liste</a>
    </button>

    {% if tasklists %}

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Progression</th>
            </tr>
        </thead>
        <tbody>
            {% for list in tasklists %}
            <tr>
                <th scope="col"><a href="">{{ list.title }}</a></th>
                <td><span class="list-completion">complété/total</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p class="mt-3">Vous n'avez pas de liste de tâches.</p>

    {% endif %} 

{% endblock %}
